.graf {
    background-color: #bedfdc;
    border: 1px solid #6b9080;
}

.axis {
    font-size: 16pt;
}

.titulo {
    font-size: 18pt;
    font-weight: bold;
    text-anchor: middle;
}

.eje text {
    font: 10px sans-serif;
}

.eje path,
.eje line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
