.titulo {
    text-align:center;
    font-family: Georgia, serif;
    font-size: 60px;
    color: white;
    background-color: black;
}

.grafAsalariados {
    border: 1px solid #6b9080;
}

.axis {
    font-size: 16pt;
}

.titulo {
    font-size: 18pt;
    font-weight: bold;
    text-anchor: middle;
}

.eje text {
    font: 10px sans-serif;
}

.eje path,
.eje line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.cboRangoAnios {
    width: 200px;
    position: relative;
    font-family: Arial;
}

text {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 18px;
    color: rgb(7, 36, 99);
}

.etiquetaBarra {
    padding-bottom: 30px;
}